USE [master]
GO
/****** Object:  Database [YalcinHotelDB]    Script Date: 28.09.2026 11:27:28 ******/
CREATE DATABASE [YalcinHotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YalcinHotelDB', FILENAME = N'C:\Users\yalci\YalcinHotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YalcinHotelDB_log', FILENAME = N'C:\Users\yalci\YalcinHotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YalcinHotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YalcinHotelDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfileImageUrl] [nvarchar](max) NULL,
	[IsAdminBootstrapped] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[AboutId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nvarchar](max) NOT NULL,
	[CheckInDate] [datetime2](7) NOT NULL,
	[CheckOutDate] [datetime2](7) NOT NULL,
	[GuestCount] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsPopular] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IconUrl] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ImageUrl1] [nvarchar](max) NOT NULL,
	[ImageUrl2] [nvarchar](max) NULL,
	[Page] [nvarchar](30) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testimonials]    Script Date: 28.09.2026 11:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Testimonials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260926161504_YalcinHotelDB', N'10.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260927130000_CustomerProfileAndRole', N'10.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260927150000_AdminBootstrapSeed', N'10.0.12')
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([Id], [Title], [Description], [ImageUrl], [CreatedDate], [IsActive]) VALUES (1, N'Yalçin Hotel & Resort Tahiti Hakkinda', N'Tahiti nin turkuaz sularinda, doganin ve lüksün kalbinde yer alan otelimiz misafirlerine unutulmaz bir tatil deneyimi sunar.', N'https://images.unsplash.com/photo-1540541338287-41700207dee6?auto=format&fit=crop&w=1920&q=80', CAST(N'2026-09-27T16:20:18.9600000' AS DateTime2), 1)
INSERT [dbo].[Abouts] ([Id], [Title], [Description], [ImageUrl], [CreatedDate], [IsActive]) VALUES (2, N'Yalcin Hotel & Resort Tahiti Hakkında', N'Tahiti’nin kalbinde, turkuaz suların ve beyaz kumsalların kesiştiği noktada yer alan Yalçın Hotel & Resort; misafirlerine lüksü, huzuru ve doğanın büyüleyici uyumunu bir arada sunuyor. Unutulmaz bir tatil deneyimi için her detay titizlikle tasarlandı.', N'https://images.unsplash.com/photo-1571003123894-1f0594d2b5d9?auto=format&fit=crop&w=800&q=80', CAST(N'2026-09-27T18:35:04.9347228' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [Date], [IsRead], [CreatedDate], [IsActive]) VALUES (2, N'Ali Yalçın', N'mahmutyalcin295@gmail.com', N'Otel Hizmeti', N'Otelinizden memnun kaldım ama personellere o kadar da değil o yüzden 3 yıldız veriyorum', CAST(N'2026-09-27T18:21:37.9511276' AS DateTime2), 0, CAST(N'2026-09-27T18:21:37.9507989' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [NameSurname], [Email], [Password], [CreatedDate], [IsActive], [Role], [ProfileImageUrl], [IsAdminBootstrapped]) VALUES (1, N'Dutch van der Linde', N'dutch@mail.com', N'123456', CAST(N'2026-09-27T16:20:18.9833333' AS DateTime2), 1, N'Customer', N'https://preview.redd.it/dutch-van-der-linde-theories-v0-04x6r6sig7pc1.jpeg?auto=webp&s=ae3361e9a9c21604058606560916422835926cf7', 0)
INSERT [dbo].[Customers] ([Id], [NameSurname], [Email], [Password], [CreatedDate], [IsActive], [Role], [ProfileImageUrl], [IsAdminBootstrapped]) VALUES (3, N'Ali Yalçın', N'admin@yalcinhotel.com', N'AQAAAAIAAYagAAAAED8WegoXFvX6tmaHynVuJwmWEAQoukkcECsWlaMZh7FXwSziyj5miYlrw13FmNC/cA==', CAST(N'2026-09-27T18:19:00.3541729' AS DateTime2), 1, N'Admin', NULL, 1)
INSERT [dbo].[Customers] ([Id], [NameSurname], [Email], [Password], [CreatedDate], [IsActive], [Role], [ProfileImageUrl], [IsAdminBootstrapped]) VALUES (4, N'Ali Yalçın', N'mahmutyalcin295@gmail.com', N'AQAAAAIAAYagAAAAEBdc7XIK7jkK7xxUgQG94LkGGcsrkjr6ESJYgAZbAN7VkonlHj8iYtrhbgfbhAk8OQ==', CAST(N'2026-09-27T18:20:24.3237691' AS DateTime2), 1, N'Customer', NULL, 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Title], [Status], [ImageUrl], [AboutId], [CreatedDate], [IsActive]) VALUES (1, N'Ahmet', N'Yalçin', N'Otel Genel Müdürü', 1, N'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?auto=format&fit=crop&w=500&q=80', 1, CAST(N'2026-09-27T16:20:18.9700000' AS DateTime2), 1)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Title], [Status], [ImageUrl], [AboutId], [CreatedDate], [IsActive]) VALUES (2, N'Elif', N'Demir', N'Bas Resepsiyonist', 1, N'https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?auto=format&fit=crop&w=500&q=80', 1, CAST(N'2026-09-27T16:20:18.9700000' AS DateTime2), 1)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Title], [Status], [ImageUrl], [AboutId], [CreatedDate], [IsActive]) VALUES (3, N'Elif', N'Yılmaz', N'Baş Resepsiyonist', 1, N'https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?auto=format&fit=crop&w=400&q=80', 1, CAST(N'2026-09-27T18:35:04.9508000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [CustomerName], [CustomerEmail], [CustomerPhone], [CheckInDate], [CheckOutDate], [GuestCount], [Status], [RoomId], [CreatedDate], [IsActive], [CustomerId]) VALUES (1, N'Dutch van der Linde', N'dutch@mail.com', N'+689 40 12 34', CAST(N'2026-10-10T00:00:00.0000000' AS DateTime2), CAST(N'2026-10-17T00:00:00.0000000' AS DateTime2), 2, N'Onaylandi', 2, CAST(N'2026-09-27T16:20:18.9900000' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Title], [Description], [Price], [IsAvailable], [ImageUrl], [Capacity], [IsPopular], [CreatedDate], [IsActive]) VALUES (1, N'Deluxe Okyanus Manzarali Oda', N'Okyanusun muhtesem maviligine bakan, konforlu ve ferah lüks oda.', CAST(350.00 AS Decimal(18, 2)), 1, N'https://images.unsplash.com/photo-1591088398332-8a7791972843?auto=format&fit=crop&w=800&q=80', 2, 1, CAST(N'2026-09-27T16:20:18.9800000' AS DateTime2), 1)
INSERT [dbo].[Rooms] ([Id], [Title], [Description], [Price], [IsAvailable], [ImageUrl], [Capacity], [IsPopular], [CreatedDate], [IsActive]) VALUES (2, N'Tahiti Balayi Suiti', N'Özel havuzlu ve panoramik deniz manzarali romantik balayi suiti.', CAST(750.00 AS Decimal(18, 2)), 1, N'https://images.unsplash.com/photo-1582719478250-c89cae4dc85b?auto=format&fit=crop&w=800&q=80', 2, 1, CAST(N'2026-09-27T16:20:18.9800000' AS DateTime2), 1)
INSERT [dbo].[Rooms] ([Id], [Title], [Description], [Price], [IsAvailable], [ImageUrl], [Capacity], [IsPopular], [CreatedDate], [IsActive]) VALUES (3, N'Aile Suiti (Genis)', N'Kalabalik aileler için tasarlanmis genis oturma alanina sahip lüks suit.', CAST(950.00 AS Decimal(18, 2)), 1, N'https://images.unsplash.com/photo-1566665797739-1674de7a421a?auto=format&fit=crop&w=800&q=80', 4, 0, CAST(N'2026-09-27T16:20:18.9800000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Title], [Description], [IconUrl], [CreatedDate], [IsActive]) VALUES (1, N'Spa & Masaj Salonu', N'Uzak dogu masajlari ve okyanus özleriyle yenilenin.', N'fas fa-spa', CAST(N'2026-09-27T16:20:18.9966667' AS DateTime2), 1)
INSERT [dbo].[Services] ([Id], [Title], [Description], [IconUrl], [CreatedDate], [IsActive]) VALUES (2, N'Özel Plaj ve Yat Turu', N'Bora Bora sularinda özel yat turlari ve plaj keyfi.', N'fas fa-umbrella-beach', CAST(N'2026-09-27T16:20:18.9966667' AS DateTime2), 1)
INSERT [dbo].[Services] ([Id], [Title], [Description], [IconUrl], [CreatedDate], [IsActive]) VALUES (3, N'Fine Dining Restoran', N'Dünya mutfagindan seçkin lezzetler ve usta sefler.', N'fas fa-utensils', CAST(N'2026-09-27T16:20:18.9966667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Title], [Description], [ImageUrl1], [ImageUrl2], [Page], [CreatedDate], [IsActive]) VALUES (1, N'Tahiti nin Gizli Cennetine Hos Geldiniz', N'Lüks ve huzurun bulustugu nokta.', N'https://images.unsplash.com/photo-1540541338287-41700207dee6?auto=format&fit=crop&w=1920&q=80', NULL, N'Home', CAST(N'2026-09-27T16:20:19.0000000' AS DateTime2), 1)
INSERT [dbo].[Sliders] ([Id], [Title], [Description], [ImageUrl1], [ImageUrl2], [Page], [CreatedDate], [IsActive]) VALUES (2, N'Hayalinizdeki Tatil Basliyor', N'Essiz odalar ve kusursuz hizmet kalitesi.', N'https://images.unsplash.com/photo-1582719478250-c89cae4dc85b?auto=format&fit=crop&w=1920&q=80', NULL, N'Rooms', CAST(N'2026-09-27T16:20:19.0000000' AS DateTime2), 1)
INSERT [dbo].[Sliders] ([Id], [Title], [Description], [ImageUrl1], [ImageUrl2], [Page], [CreatedDate], [IsActive]) VALUES (3, N'Tahiti’nin Cennet Köşesine Hoş Geldiniz', N'Lüksün ve doğanın buluştuğu noktada rüya gibi bir tatil sizi bekliyor.', N'https://images.unsplash.com/photo-1540541338287-41700207dee6?auto=format&fit=crop&w=1200&q=80', NULL, N'Home', CAST(N'2026-09-27T18:35:04.9621372' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Testimonials] ON 

INSERT [dbo].[Testimonials] ([Id], [ClientName], [Title], [Comment], [ImageUrl], [Rating], [CustomerId], [CreatedDate], [IsActive]) VALUES (1, N'Dutch van der Linde', N'Van Der Linde Mango Plantasyonu Sahibi / Vizyoner', N'En iyi planların yapıldığı yer Yalçyn Hotel''in Presidential Royal Suite''inde yapılan planlardır; burası planlarımızın ve mango plantasyonumuzun merkezi!', N'https://preview.redd.it/dutch-van-der-linde-theories-v0-04x6r6sig7pc1.jpeg?auto=webp&s=ae3361e9a9c21604058606560916422835926cf7', 5, 1, CAST(N'2026-09-27T16:20:19.0066667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Testimonials] OFF
GO
/****** Object:  Index [IX_Employees_AboutId]    Script Date: 28.09.2026 11:27:29 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_AboutId] ON [dbo].[Employees]
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_RoomId]    Script Date: 28.09.2026 11:27:29 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_RoomId] ON [dbo].[Reservations]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Testimonials_CustomerId]    Script Date: 28.09.2026 11:27:29 ******/
CREATE NONCLUSTERED INDEX [IX_Testimonials_CustomerId] ON [dbo].[Testimonials]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (N'Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAdminBootstrapped]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Abouts_AboutId] FOREIGN KEY([AboutId])
REFERENCES [dbo].[Abouts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Abouts_AboutId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Rooms_RoomId]
GO
ALTER TABLE [dbo].[Testimonials]  WITH CHECK ADD  CONSTRAINT [FK_Testimonials_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Testimonials] CHECK CONSTRAINT [FK_Testimonials_Customers_CustomerId]
GO
USE [master]
GO
